.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 55px;

  @include vp-1279 {
    padding: 0 57px;
  }

  @include vp-767 {
    padding: 0 21px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 29px 0;
  color: $color-default-white;

  @include vp-767 {
    padding: 33px 0;
  }
}

.sticky {
  position: fixed;
  z-index: 99;
  background: $bg-header-sticky;
  backdrop-filter: blur(27px);

  .wrapper {
    color: $color-black;
  }
}

.logo {
  width: 182px;
  height: 32px;

  @include vp-767 {
    width: 133px;
    height: 24px;
  }
}

.nav {
  @media (max-width: 920px) {
    display: none;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 48rem;
  gap: 5.2rem;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    max-width: 41rem;
    gap: 3rem;
  }
}

.link {
  position: relative;
  padding-bottom: .5rem;
  font-size: 2rem;
  line-height: 1.42em;
  text-align: center;
  color: inherit;

  @include vp-767 {
    font-size: 1.6rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $color-default-white;
    transition: width 0.3s ease;
  }

  @include hover {
    &::after {
      width: 100%;
    }
  }
}
