//Color

$color-default-white: #ffffff;
$color-black: #1b1f2b;
$color-orange200: #efa501;
$color-orange100: #f8e6be;
$color-green400: #286562;
$color-green300: #3b7e7b;
$color-green200: #627f7e;
$color-green100: #e0f0e5;
$color-gray300: #a6a6a6;
$color-gray200: #d9dfdb;
$color-gray100: #f1f3f2;
$color-beige200: #f4f0e9;
$color-beige100: #f9f7f4;
$bg-header-sticky: rgba(243, 239, 232, 0.60);


//Gradient

$overlay-card: linear-gradient(360deg,rgba(0,0,0,.4)0,rgba(0,0,0,.06) 48.44%,rgba(0,0,0,.5) 100%);


//BreakPoints
$vp-1280: 1280px;
$vp-768: 768px;
