.choose_tour {
  padding-top: 13.5rem;

  @include vp-767 {
    padding-top: 7.5rem;
  }
}

.title {
  font-size: 5.9rem;
  font-weight: 700;
  line-height: 124%;
  margin: 0;
  margin-bottom: 35px;
  color: $color-black;

  @include vp-767 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
  }
}

.wrapperTitle {
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: 750px;

  @include vp-767 {
    gap: 1rem;
    margin-bottom: 5rem;
  }
}

.tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  padding: 0;
  padding-bottom: 0.6rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 122%;
  background-color: transparent;
  color: $color-black;
  border: 0;
  outline: 0;
  cursor: pointer;

  @include hover-focus {
    &::after {
      width: 100%;
    }
  }

  @include vp-767 {
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    padding-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-black;
    transition: width 0.3s ease;
  }

  &__active {
    color: $color-orange200;

    &::after {
      width: 100%;
      background-color: $color-orange200;
    }
  }
}


.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  }
}

