.stories {
  padding-bottom: 13.5rem;

  @include vp-767 {
    padding-bottom: 7.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    gap: 20px;
  }
}

.wrapperTitle {
  @include vp-767 {
    margin-bottom: 50px;
  }
}

.card {
  padding: 60px;
  padding-bottom: 51px;
  min-height: 567px;

  @include vp-767 {
    padding: 30px;
    padding-bottom: 23px;
    min-height: 455px;
  }
}

.card p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  margin: 0;
  white-space: pre-wrap;

  @include vp-767 {
    font-size: 1.6rem;
    width: 99%;
  }
}

.card h3 {
  margin: 0;
  margin-bottom: 37px;
  padding-right: 3rem;

  @include vp-767 {
    margin-bottom: 23px;
    padding-right: 100px;
  }
}

.card .text {
  max-width: 554px;
}
