.stories {
  padding-bottom: 13.5rem;

  @include vp-767 {
    padding-bottom: 7.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    gap: 20px;
  }
}

.wrapperTitle {
  @include vp-767 {
    margin-bottom: 50px;
  }
}
