.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;

  @include vp-767 {
    border-radius: 20px;
  }

  &:hover {
    .link {
      background-color: $color-green400;
    }

    img {
      transform: scale(1.2);
    }
  }

  &:focus-within {
    img {
      transform: scale(1.2);
    }
  }

  &:active {
    .link {
      background-color: $color-orange200;
    }
  }
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg,rgba($color-default-black, .4)0,rgba($color-default-black,.06) 48.44%,rgba($color-default-black,.5) 100%);
  border-radius: 50px;

  @include vp-767 {
    border-radius: 20px;
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 122%;
  color: $color-default-white;

  @include vp-767 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.92px;
  }
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transform: scale(1);
  transition: transform 0.3s ease;
  object-fit: cover;

  @include vp-767 {
    border-radius: 20px;
  }
}

.text {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 554px;
}

.description {
  color: $color-default-white;
}

.footer {
  position: relative;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.social {
  display: flex;
  gap: 35px;
  align-items: center;

  @include vp-767 {
    display: none;
  }

  &_link {
    font-size: 2rem;
    font-weight: 400;
    line-height: 142%;
    color: $color-default-white;
    outline: 0;

    @include hover-focus {
      text-decoration: underline;
    }

    @include active {
      color: $color-orange200;
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 7px 20px;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 122%;
  color: $color-default-white;
  background-color: transparent;
  border-radius: 50px;
  transform: translateX(-20px);
  cursor: pointer;
  outline: 0;

  @include vp-767 {
    font-size: 1.6rem;
    line-height: 142%;
  }

  &:focus-visible {
    background-color: $color-green400;
  }

  &:active {
    background-color: $color-orange200;
  }
}
