.form_block {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;

  @include vp-767 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.form {
  padding: 70px;
  background-color: var(--white);
  border-radius: 50px;

  @include vp-1279 {
    padding: 60px;
  }

  @include vp-767 {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 30px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;

  @include vp-1279 {
    gap: 33px 20px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    font-size: 2rem;
    font-weight: 400;
    line-height: 142%;
    color: var(--black);

    @include vp-767 {
      font-size: 1.6rem;
    }
  }
}

.form__field {
  width: 100%;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--beige200);
  background-color: var(--beige100);
  padding: 20px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: var(--gray300);
  outline: 0;

  @include vp-1279 {
    padding-bottom: 16px;
  }

  @include vp-767 {
    padding: 10px;
    padding-bottom: 12px;
    font-size: 1.6rem;
  }

  @include hover {
    background-color: var(--beige200);
  }

  &:focus {
    border-color: var(--gray300);
    background-color: var(--beige200);
  }
}

.form__select {
  width: 100%;
  appearance: none;
  color: var(--black);

  &:required:invalid {
    color: var(--gray300);
  }
}

.form__label_select {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    right: 27px;
    top: 25px;
    transform: rotate(45deg);
    border: solid var(--black);
    border-width: 0 2px 2px 0;

    @include vp-767 {
      right: 18px;
      top: 13px;
    }
  }
}

.form__textarea {
  resize: vertical;
  min-height: 152px;

  @include vp-767 {
    min-height: 132px;
  }
}

.form__comment {
  margin-bottom: 33px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.form__faq {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.form__radiobox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form__legend {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color: var(--black);
  margin-bottom: 8px;

  @include vp-767 {
    font-size: 1.6rem;
  }
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 37px;

  @include vp-767 {
    padding-left: 31px;
  }
}

.form__item_check {
  padding-left: 45px;

  @include vp-1279 {
    padding-left: 37px;
  }

  @include vp-767 {
    padding-left: 31px;
  }
}

.form__control[type='radio'] + span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  border: 2px solid var(--black);

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

.form__control[type='radio']:checked + span {
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--black);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.form__control_title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color: var(--black);

  @include vp-767 {
    font-size: 1.6rem;
  }
}

.form__control[type='checkbox'] + span {
  position: absolute;
  left: 1px;
  top: 0;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 2px solid var(--black);

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

.form__control[type='checkbox']:checked + span {
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 12px;
    height: 7px;

    @include vp-767 {
      width: 9px;
      height: 5px;
    }
  }
}


.form__checkbox_text {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 142%; /* 24.14px */
  letter-spacing: -0.17px;
  color: var(--gray300);

  @include vp-767 {
    font-size: 1.6rem;
    letter-spacing: 0;
  }

  a {
    color: var(--black);
    @include hover {
      text-decoration: underline;
    }

    @include active {
      color: var(--green400);
    }
  }
}

.form_buttons {
  display: flex;
  gap: 30px;
  max-width: 500px;

  @include vp-767 {
    gap: 10px;
  }
}

.form_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  color: var(--white);
  border: 0;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  padding: 15px 30px;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;

  @include vp-767 {
    font-size: 1.6rem;
    padding: 12px 26px;
  }

  &__primary {
    background-color: var(--green400);

    @include hover-focus {
      background-color: var(--green300);
    }

    @include active {
      background-color: var(--green200);
    }
  }

  &__secondary {
    background-color: var(--green100);
    color: var(--green400);

    @include hover-focus {
      background-color: var(--gray100);
    }

    @include active {
      background-color: var(--gray200);
    }
  }

  &:disabled {
    opacity: .3;
    pointer-events: none;
  }
}
