.form_block {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;

  @include vp-767 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.form {
  padding: 70px;
  background-color: $color-default-white;
  border-radius: 50px;

  @include vp-1279 {
    padding: 60px;
  }

  @include vp-767 {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 30px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;

  @include vp-1279 {
    gap: 20px;
    row-gap: 33px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    font-size: 2rem;
    font-weight: 400;
    line-height: 142%;
    color: $color-black;

    @include vp-767 {
      font-size: 1.6rem;
    }
  }
}

.form__field {
  position: relative;
  width: 100%;
  padding: 20px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  color: $color-gray300;
  background-color: $color-beige100;
  border: 1px solid $color-beige200;
  border-radius: 10px;
  outline: 0;

  @include vp-1279 {
    padding-bottom: 16px;
  }

  @include vp-767 {
    padding: 10px;
    padding-bottom: 12px;
    font-size: 1.6rem;
  }

  @include hover {
    background-color: $color-beige200;
  }

  &:focus {
    border-color: $color-gray300;
    background-color: $color-beige200;
  }
}

.form__select {
  width: 100%;
  color: $color-black;
  appearance: none;

  &:required:invalid {
    color: $color-gray300;
  }
}

.form__label_select {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 27px;
    display: block;
    width: 13px;
    height: 13px;
    border: solid $color-black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    @include vp-767 {
      right: 18px;
      top: 13px;
    }
  }
}

.form__textarea {
  min-height: 152px;
  resize: vertical;

  @include vp-767 {
    min-height: 132px;
  }
}

.form__comment {
  margin-bottom: 33px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  border: 0;

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.radiobox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.legend {
  margin-bottom: 8px;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color: $color-black;

  @include vp-767 {
    font-size: 1.6rem;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 37px;

  @include vp-767 {
    padding-left: 31px;
  }

  &_checkbox {
    padding-left: 45px;

    @include vp-1279 {
      padding-left: 37px;
    }

    @include vp-767 {
      padding-left: 31px;
    }
  }
}



.control[type='radio'] + span {
  position: absolute;
  left: 1px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid $color-black;

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

.control[type='radio']:checked + span {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: $color-black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.controlTitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color: $color-black;

  @include vp-767 {
    font-size: 1.6rem;
  }
}

.control[type='checkbox'] + span {
  position: absolute;
  left: 1px;
  top: 0;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 2px solid $color-black;

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

.control[type='checkbox']:checked + span {
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 12px;
    height: 7px;
    border-left: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    transform: translate(-50%, -50%) rotate(-45deg);

    @include vp-767 {
      width: 9px;
      height: 5px;
    }
  }
}


.checkboxText {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
  color: $color-gray300;

  @include vp-767 {
    font-size: 1.6rem;
    letter-spacing: 0;
  }

  a {
    color: $color-black;

    @include hover {
      text-decoration: underline;
    }

    @include active {
      color: $color-green400;
    }
  }
}

.buttons {
  display: flex;
  gap: 30px;
  max-width: 500px;

  @include vp-767 {
    gap: 10px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 15px 30px;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 142%;
  color:$color-default-white;
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;

  @include vp-767 {
    font-size: 1.6rem;
    padding: 12px 26px;
  }

  &.primary {
    background-color: $color-green400;

    @include hover-focus {
      background-color: $color-green300;
    }

    @include active {
      background-color: $color-green200;
    }
  }

  &.secondary {
    background-color: $color-green100;
    color: $color-green400;

    @include hover-focus {
      background-color: $color-green100;
    }

    @include active {
      background-color: $color-green200;
    }
  }

  &:disabled {
    opacity: .3;
    pointer-events: none;
  }
}
