.gallery {
  padding-bottom: 13.5rem;

  @include vp-767 {
    padding-bottom: 7.5rem;
  }
}

.wrapperTitle {
  margin-bottom: 97px;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.wrapper {
  width: calc(100vw - 60px);
  margin: 0 auto;

  @include vp-1279 {
    width: calc(100vw - 40px);
  }

  @include vp-767 {
    width: calc(100vw - 42px);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 301px;
  gap: 30px;

  @include vp-1279 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 110px;
    gap: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include vp-767 {
      margin-bottom: 18px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;

    @include vp-767 {
      border-radius: 20px;
    }
  }

  &__first {
    @include vp-1279 {
      img {
        &:nth-child(2) {
          display: none;
        }
      }
    }

    @include vp-767 {
      img {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  &__second {
    grid-template-columns: repeat(5, 1fr);

    @include vp-1279 {
      grid-template-columns: repeat(4, 1fr);
      img {
        &:nth-child(3) {
          display: none;
        }
      }
    }

    @include vp-767 {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      img {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &__three {
    @include vp-1279 {
      img {
        &:nth-child(4) {
          display: none;
        }
      }
    }

    @include vp-767 {
      gap: 10px;

      img {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
