.input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    font-size: 2rem;
    font-weight: 400;
    line-height: 142%;
    color: $color-black;

    @include vp-767 {
      font-size: 1.6rem;
    }
  }
}

.filed {
  padding: 20px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  border-radius: 10px;
  border: 1px solid $color-beige200;
  background-color: $color-beige100;
  color: $color-black;
  outline: 0;

  @include vp-1279 {
    padding-bottom: 17px;
  }

  @include vp-767 {
    padding: 10px;
    padding-bottom: 8px;
    font-size: 1.6rem;
  }

  @include hover {
    background-color: $color-beige200;
  }

  &:focus {
    border-color: $color-gray300;
    background-color: $color-beige200;
  }
}

.filed[type='date'] {
  text-transform: uppercase;
  appearance: none;
  color: var(--black);

  &:required:invalid {
    color: var(--gray300);
  }
}
.filed[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

